body {
  background: #fdfdfd;
}
.genres__list {
  max-height: 150px;
  overflow: auto;
}
.invalid-feedback {
  display: block;
}
.card-body{
  padding: 0.5rem 1.25rem;
}
.poster__image{
  max-width: 100%;
  height: auto;
}
.genre-badge{
	background: #007bff;
	color: #fff;
	padding: 5px;
	margin-left: 5px; 
}
.nav-tabs .nav-item{
  text-decoration: none;
  color: #495057; 
}
.nav-tabs .nav-item .active{
  background: #007bff;
  border: 1px solid #dee2e6;
  color: #fff;
}
.details-list {
  padding: 0;
  list-style: none;
}
.details-list li {
  padding: 5px 0;
  border-bottom: 1px solid lightgray;
}
.actor-photo{
  width: 138px;
  height: 175px;
}
.actor-card{
  max-width: 138px;
}
.actor-card .card-title,
.actor-card .actor-character{
  padding-left: 5px;
  margin-bottom: 0;
}
.actor-character{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.loading{
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
  background: #007bff;
  z-index: 0.9;
  opacity: 1;
}
.loading p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #fff;
}